/node_modules
/public/css
/public/fonts
/public/hot
/public/images
/public/js
/public/storage
/public/mix-manifest.json
/storage/*.key
/storage
/storage/app
/storage/app/public
/storage/logs
/storage/framework/
/vendor
/.idea
/.bash_history
/.vagrant
composer.lock
composer.phar
package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
.env
/.composer
