// Fonts
@import "vendors/font-awesome/scss/font-awesome";

// Variables
@import "variables";

// Bootstrap
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Bootstrap + Button 3D Effects
@import "vendors/button-3d-effects";

// Font-awesome
@import "vendors/font-awesome/scss/font-awesome";

// Dan Eden's Animate
@import "../../../node_modules/animate-sass/animate";

// Magnific Popup
@import "../../../node_modules/magnific-popup/src/css/main";

// Owl Carousel
@import "../../../node_modules/owl.carousel/src/scss/owl.carousel";

// Weather Icons
@import "../../../node_modules/weather-icons/css/weather-icons.min.css";


// Authentication Styles
@import "auth/login";
@import "auth/register";
@import "auth/passwords/email";
@import "auth/passwords/reset";


/**
Description: Fready - HTML5 Ultimate Real Estate Template
Version: 1.0
Tags: clean real estate, html5 real estate, responsive

/* ============================================================

[Table of contents]

1.  General Styles
2.  Header
3.  Navigation
4.  Component
5.  Footer

================================================================ */

/*---------------------------------------

 1. General Styles

-----------------------------------------*/

body {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    /*color: #727272;*/
    overflow-x: hidden !important;
    margin: auto !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 1.8em;
    font-family: 'Open Sans', sans-serif;
}

*:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #ffffff;
}

// Change the modal background style
.modal-backdrop.in {
    opacity: 0.8;
}

/*---------------------------------------

 2. Header

-----------------------------------------*/

@import "includes/header";

/*---------------------------------------

 3. Navigation

-----------------------------------------*/

@import "includes/navigation";

/*---------------------------------------

 4. Component

-----------------------------------------*/

@import "pages/frontend/dashboard";
@import "pages/frontend/product_mix";
@import "pages/frontend/sales_input";
@import "pages/frontend/product_projection";
@import "pages/frontend/hours_operation";

/*---------------------------------------

 5. Footer

-----------------------------------------*/

@import "includes/footer";
