.component{
    #frontend_hours_of_operation {
        .res_number {
            font-size: 24px;
            color: rgba(0,0,0,1);
        }
        .hours {
            font-size: 15px;
        }
        .body {
            margin-top: 15px;
            margin-bottom: 120px;
            .nav-tabs {
                border-bottom: 0px;
                & > li {
                    & > a {
                        background: rgba(255, 255, 255, 1);
                        border-radius: 0;
                        margin-right: 5px;
                        box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
                        color: black;
                        text-transform: capitalize;
                    }
                    &.active > a, &.active > a:hover {
                        background: rgba(218, 218, 218, 1);
                        box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
                        color: rgba(0, 80, 162, 1);
                    }
                }
            }
            .tab-content {
                background: rgba(255,255,255,1);
                display: inline-block;
                box-shadow: 0 0 4px rgba(0,0,0,.4);
                padding: 15px;
                .tab-pane {
                    & > table {
                        border: 1px solid rgba(187, 187, 187, 1);
                        & > tr {
                            &.header {
                                height: 50px;
                                background: rgba(218, 218, 218, 1);
                                border-bottom: 1px solid rgba(230, 230, 230, 1);
                                th {
                                    width: 200px;
                                    padding-left: 60px;
                                    font-size: 15px;
                                    @media screen and (max-width: 600px) {
                                        padding-left: 50px;
                                    }
                                    @media screen and (max-width: 540px) {
                                        padding-left: 40px;
                                    }
                                    @media screen and (max-width: 480px) {
                                        padding-left: 20px;
                                    }
                                }
                            }
                            &.odd {
                                height: 50px;
                                background: rgba(255, 255, 255, 1);
                                border-top: 1px solid rgba(222, 222, 222, 1);
                                color: rgba(0, 80, 162, 1);
                                & > td {
                                    padding-left: 60px;
                                    font-size: 14px;
                                    text-transform: capitalize;
                                    a {
                                        cursor: auto;
                                        &.pointer {
                                            cursor: pointer;
                                        }
                                    }
                                    &.updated-time {
                                        a {
                                            color: #ff0000;
                                            display: inline-block;
                                            margin-left: -7px;
                                            i.triangular-mark {
                                                border-right: 7px solid transparent;
                                                border-top: 7px solid #ff0000;
                                            }
                                        }
                                    }
                                    @media screen and (max-width: 600px) {
                                        padding-left: 50px;
                                    }
                                    @media screen and (max-width: 540px) {
                                        padding-left: 40px;
                                    }
                                    @media screen and (max-width: 480px) {
                                        padding-left: 20px;
                                    }
                                    @media screen and (max-width: 360px) {
                                        font-size: 12px;
                                    }
                                    a:hover {
                                        color: rgba(215, 44, 32, 1);
                                    }
                                }
                            }
                            &.even {
                                height: 50px;
                                background: rgba(240, 240, 240, 1);
                                border-top: 1px solid rgba(222, 222, 222, 1);
                                color: rgba(0, 80, 162, 1);
                                td {
                                    padding-left: 60px;
                                    font-size: 14px;
                                    text-transform: capitalize;
                                    a {
                                        cursor: auto;
                                        &.pointer {
                                            cursor: pointer;
                                        }
                                    }
                                    &.updated-time {
                                        a {
                                            color: #ff0000;
                                            display: inline-block;
                                            margin-left: -7px;
                                            i.triangular-mark {
                                                border-right: 7px solid transparent;
                                                border-top: 7px solid #ff0000;
                                            }
                                        }
                                    }
                                    @media screen and (max-width: 600px) {
                                        padding-left: 50px;
                                    }
                                    @media screen and (max-width: 540px) {
                                        padding-left: 40px;
                                    }
                                    @media screen and (max-width: 480px) {
                                        padding-left: 20px;
                                    }
                                    @media screen and (max-width: 360px) {
                                        font-size: 12px;
                                    }
                                    a:hover {
                                        color: rgba(215, 44, 32, 1);
                                    }
                                }
                            }
                            h4 {
                                text-transform: none;
                            }
                        }
                    }
                }
            }
        }
        #setTimeModal {
            &.fade-scale {
                transform: scale(0);
                opacity: 0;
                -webkit-transition: all .25s linear;
                -o-transition: all .25s linear;
                transition: all .25s linear;
                &.in {
                    opacity: 1;
                    transform: scale(1);
                }
                .modal-dialog {
                    top: 25%;
                    .modal-content {
                        border-radius: 0;
                        button.close {
                            position: absolute;
                            right: 0;
                            top: -40px;
                            color: #9e9d9b;
                            opacity: 1;
                            text-shadow: none;
                            font-size: 40px;
                            font-weight: normal;
                        }
                        .modal-header {
                            padding: 5px;
                            background-color: #f0f0f0;
                            border-bottom: 1px solid #cccccc;
                            .modal-title {
                                margin-top: 5px;
                                text-align: center;
                            }
                        }
                        .modal-body {
                            text-align: center;
                            .time-row {
                                padding: 10px 0 8px 0;
                                display: inline-block;
                                div {
                                    background-color: #f0eee8;
                                    float: left;
                                    border: 1px solid #cdcdcd;
                                    height: 45px;
                                    margin-right: 5px;
                                    label {
                                        padding: 0 10px 0 15px;
                                        text-transform: uppercase;
                                        font-weight: 500;
                                        font-size: 15px;
                                    }
                                    input[type=time] {
                                        height: 45px;
                                        border: 1px solid #cdcdcd;
                                        padding: 0 0 0 20px;
                                        margin: -1px;
                                        font-size: 15px;
                                    }
                                    input[type=time]::-webkit-inner-spin-button {
                                        cursor: pointer;
                                        height: 42px;
                                        padding: 2px;
                                    }
                                    input[type=time]:hover::-webkit-inner-spin-button {
                                        height: 42px;
                                        padding: 2px;
                                    }
                                }
                            }
                            .time-reset {
                                padding: 5px 0;
                                text-align: center;
                                button {
                                    border-radius: 0;
                                    color: #333;
                                    font-size: 12px;
                                    font-weight: 700;
                                    padding: 6px 25px;
                                    text-transform: uppercase;
                                }
                            }
                        }
                        .modal-footer {
                            padding: 15px 50px;
                            text-align: center;
                            background-color: #f0f0f0;
                            border-top: 1px solid #cccccc;
                            button {
                                font-size: 16px;
                                text-transform: uppercase;
                                border-radius: 0;
                                background-color: #004fa5;
                            }
                        }
                    }
                }
            }
        }
    }
}
